{% extends 'base.html.twig' %}

{% block body %}

<div class="container pageQsn">
  <div class="jumbotron">
    <h4>Qui somme nous ? </h4>
    <hr>

    <span class="text-info">
      <h5>Origine</h5>
    </span>

    <p>
      LL est la dénomination de notre association.
      Régie par la loi du 1er Juillet 1901 «LL» signifie :
      <strong>Lilian et Loriane</strong>, deux enfants autistes qui ont inspiré
       l’idée de la création de l’association.<br>
       <strong>LL</strong>  veut dire également <strong>« aile »</strong> :
      pour permettre aux parents de prendre l’air.<br>
      Elle a été fondée initialement en <strong>2013</strong>
    </p>

    <span class="text-info">
      <h5>Objectif</h5>
    </span>


    <p>
      Notre objectif est <strong>de venir en aide aux parents d’enfants autistes</strong> .
      Le dispositif mis en place cherche à alléger leurs tâches quotidiennes et à veiller au bien être de toute la famille.
      <br>
      Chaque membre ou bénévole peut contribuer,
      selon sa disponibilité et ses compétences ou talents et moyens,
      pour atteindre ces objectifs.
    </p>

    <span class="text-info">
      <h5>L'association en action</h5>
    </span>

    <p>
      Concrètement, LL se veut être <strong>le relais</strong> entre les parents d’enfants autistes, d’un côté, et les membres et bénévoles qui souhaiteront apporter leurs contributions, de l’autre.<br>
      Nous avons remarqué que des parents ont du mal à trouver des personnes vers qui se tourner pour leur donner un coup de pouce dans la réalisation de leurs tâches quotidiennes. Compte tenu du regard non compréhensif de la société, des parents d’enfants autistes sont contraints au repli sur eux-mêmes et se trouvent ainsi dans la solitude.<br>
      Parfois, même si des personnes de bonne volonté veulent apporter leurs aides aux parents, <strong>"Ouvrir sa porte"</strong> d’intimité est très délicat. <strong>LL</strong> est une interface de mise en contact. Notre priorité est de <strong>donner du temps aux parents</strong>  pour leur permettre de souffler un peu.
    </p>
  </div>
</div>

{% endblock %}
