{% extends 'base.html.twig' %}

{% block body %}

<div class="container banner">

  <img src="{{ asset('images/home/maxresdefault.jpg')}}" alt="banner" class="banner" width="1110px" height="450px">
</div>


<div class="threeBlocs">
  <div class="divQsn"><a href="{{ path('page_qsn') }}">qui sommes-nous?</a></div>

  <div class="divSignIn"><a href="#">actualités</a></div>

  <div class="divSignUp"><a href="{{ path('user_register')}}">inscription</a></div>
</div>

{% endblock %}
