$white_typo : #fff ;
$dark_blue : #1a4577 ;
$medium_blue : #11609a ;
$grey_blue : #00949a;
$light_blue : #65c2cc;
$green_grey : #5b7279;
$light_grey : #8b9a9c;
$dark_green : #468942;
$ligth_green : #87b14e;
$danger: #de636d;
$mustard : #d7ba66;

$grey_sign : #55606c;
$grey_up : #374f5c;
$grey_qsn : #91a6c7;
$grey: #e9ecef
