{% extends "::base.html.twig" %}
{% block body %}
{% include "AppBundle:Admin:menuAdmin.html.twig" %}
<div class="container articleListPage">
  <div class="inputArticlePage">

    <a href="#"><i class="fa fa-plus-square" aria-hidden="true">  <span>ajouter un article</span></i></a>

    <!-- <div class="form-group"> -->
      <select name="articleFilter">
      <option value="0" selected>filtrer ...</option>
      <option value="1">Mes articles</option>
      <option value="2">Tous les articles</option>
    </select>
  <!-- </div> -->
  </div>



  <table class="table table-striped">
    <thead>
      <tr>
        <th>image à la une</th>
        <th>titre</th>
        <th>publié le</th>
        <th>auteur</th>
        <th>actions</th>
      </tr>

    </thead>

    <tbody>

    </tbody>
  </table>
  </div>

</div>

{% endblock %}
