{% extends "::base.html.twig" %}

{% block body %}

<div class="container adminPageBody">
  <div class="jumbotron">
  <h1>Bienvenue dans la gestion de votre site !</h1>


    <a href="{{ path('admin_list')}}">Cliquez pour poursuivre >>></a>
  </div>
</div>





{% endblock %}
