{% extends '@FOSUser/layout.html.twig' %}
{% include "AppBundle:Admin:menuAdmin.html.twig" %}
{% block name %}
  <span class="text-info">
    <h1>Profile</h1>
  </span>
  <hr>

{% endblock %}

{% block fos_user_content %}
{% endblock %}
